body {
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    height:100%;
   }

#postpositiondiv{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

