#title{
    font-weight: bolder;
    font-size: larger;
}
#cardname{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 0px;
}
#editicon{
    float:right;
}
#displayCards{
    display:flex;
    flex-direction: column;
    padding:30px 30px 30px 30px;
}
#titlediv,#bodydiv {
    border: thick solid white;
    cursor: text;
  }
  [contenteditable] {
    outline: 0px solid transparent;
  }
  #allcommentsdiv,#likediv{
      padding-top:15px;
  }
  #likeCount,#commentbuttondiv
  {
      padding-top:2px;
  }
  #commentarea{
      width:60%;
      padding-top:15px;
  }
  #addeach{
    border: thick solid lightgray;
    border-top-width: 10px;
    border-bottom-width: 10px;
    width:60%;
    padding-top:10px;
    padding-bottom:10px;
  }
  #allcommentslabel{
    font-weight: bolder;
  }
  